{% extends "base.html" %}
{% load static %}
{% block error %}
    <div class="row mt-5 justify-content-md-center">
        <div class="col col-4 mt-5">
            <div style="justify-content: center">
                <img src="{% static "" %}">
            </div>
            <div style="text-align: center">
                <h1 class="display-1">404</h1>
                <span>Oops... Your page is not found</span>
            </div>
        </div>
    </div>
{% endblock %}







