{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div style="background: white; margin-top: 40px; width: 100%; padding: 20px; border-radius: 10px; margin-left: 2%">
        <h3 class="display-6">Hello, {{ request.user.username }}</h3>
        {% for worker in workers %}
            <p>Your name is - <b>{{ worker.name }} {{ worker.surname }}</b></p>
            <p>Date of birth - <b>{{ worker.birth_date }}</b></p>
            <p>You joined the company as a <b>{{ worker.position }}</b> on <b>{{ worker.start_working_date }}</b></p>
            <p>Your email - <b>{{ worker.email }}</b></p>
        {% endfor %}
         <form class="d-flex" role="search" method="get" action={% url 'result' %}>
           {% csrf_token %}
          <input class="form-control me-2 mr-2 shadow-none" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn" style="background-color: #055d00; border-color: #055d00; color: white" type="submit">Search</button>
        </form>

    </div>
{% else %}
    <div style="height: 100px;"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center" style="background: white; padding: 20px 0; border-radius: 10px;">
            <h1>Welcome to your home page!</h1>
            <p>Press button below to start your journey) </br> Here you can find some information about your coworkers and discover yourself.</p>
            <a role="button" style="background-color: #055d00; border-color: #055d00" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>
{% endif %}
{% endblock %}
