{% extends 'base.html' %}

{% block content %}
    <div style="background: white; margin-top: 40px; width: 100%; padding: 20px; border-radius: 10px; margin-left: 2%">
        <h3 class="display-6">Hello, {{ request.user.username }}</h3>
        {% for worker in object_list %}
            <p>Person you are searching for is </p>
            <p>Called <b>{{ worker.name }} {{ worker.surname }}</b></p>
            <p>Was born <b>{{ worker.birth_date }}</b></p>
            <p>Has a position: <b>{{ worker.position }}</b></p>
            <p>Uses email <b>{{ worker.email }}</b></p>
        {% endfor %}
        <form class="d-flex" role="search" method="get" action={% url 'result' %}>
           {% csrf_token %}
          <input class="form-control me-2 mr-2 shadow-none" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn" style="background-color: #055d00; border-color: #055d00; color: white" type="submit">Search</button>
        </form>
    </div>
{% endblock %}